# Ignore PHPUnit bin download and run cache artifact
bin/phpunit-*
.phpunit*.cache

# Ignore run artifacts
error_log
metadata.json
output
output.json
results.xml
results.json

*.scratch

/vendor/
composer.lock
