<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <extensions>
        <bootstrap class="Exercism\PhpTestRunner\Extension">
            <parameter name="outFileName" value="results.json"/>
        </bootstrap>
    </extensions>
</phpunit>
